<!DOCTYPE html>
<html>
<head>
  <title>Students information</title>
</head>
<body>
<h1> Here is student information</h1>
<% if @result.class == String%>
<P><%= @result %></P>
<% else %>
<ul>
  <% @result.each do |student| %>
  <li><%= student['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
 <%end%>
</body>
</html>