/** {
  border: 1px solid red;
}
*/
@media screen and (max-width: 500px) {
  #external-links {
    color: black;
    display: inline;
    position: absolute;
    top: 115px;
    z-index: 2;
    width: 100%;
    font-size: 75%;

  }
   #external-links ul li a{
   padding: 0px;
   color: white;

  } 

  main {
    display: inline;
    position: absolute;
    width: 100%;
  }

  body {
    position: relative;
    font-size: 85%;
  }


  main h1 {
  
    /*font-size: 92%;*/
  }

}

#external-links{
  width: 20%;
  display: inline-block;
  /*float:right;*/
/*  vertical-align: top;*/
}

main {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

body {
  max-width: 960px;
  min-width: 325px;
  width: 70%;
  margin: 0 auto;
}



#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}