#contact-info{
  font-size: 0.8em;
}

#contact-info:hover{
	background-color: pink;
}
#work-experience h3{
	background-color: blue;
}


.job{
  background-color: #E9E5DC;
  border-radius: 15px;
  padding: 10px;
  margin-top: 3px; 
}

.ulist{
  font-size: 0.8em;

}