.octopus img{
	position: absolute;
	z-index: -1;
	top: 80px;
	left: 380px;
}
.hat{
	position: relative;
	top: -110;
	left: -18;
	

}
.glasses{
	position: relative;
	top: 200px;
	left: 50px;
}